/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.1.2-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: innomcp-db
-- ------------------------------------------------------
-- Server version	12.1.2-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(45) NOT NULL,
  `password` text DEFAULT NULL,
  `user_email` varchar(200) DEFAULT NULL,
  `user_dispname` varchar(100) NOT NULL COMMENT 'α╕èα╕╖α╣êα╕¡α╕éα╕¡α╕çα╕£α╕╣α╣ëα╣âα╕èα╣ë',
  `user_birthdate` date DEFAULT NULL COMMENT 'α╕ºα╕▒α╕Öα╣Çα╕üα╕┤α╕öα╕éα╕¡α╕çα╕£α╕╣α╣ëα╣âα╕èα╣ë',
  `user_active` char(1) NOT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_token_expire` datetime DEFAULT NULL,
  `userrole_id` int(11) NOT NULL,
  `user_phone` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `user_id_UNIQUE` (`user_id`),
  UNIQUE KEY `username_UNIQUE` (`username`),
  UNIQUE KEY `user_email_UNIQUE` (`user_email`),
  KEY `fk_user_userrole1_idx` (`userrole_id`),
  KEY `idx_user_email` (`user_email`),
  CONSTRAINT `fk_user_userrole1` FOREIGN KEY (`userrole_id`) REFERENCES `userrole` (`userrole_id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `user` VALUES
(26,'jlapps','$2b$10$LjoQz/d1dnZmK60AsJvDTO35ygxx2ORLBsF52Tjpm2vRF.FH4S9uO','lb2rock@gmail.com','Administrator',NULL,'1',NULL,NULL,0,NULL),
(28,'jaran.l','$2b$10$LjoQz/d1dnZmK60AsJvDTO35ygxx2ORLBsF52Tjpm2vRF.FH4S9uO','jaran.x@gmail.com','Jaran Laothong',NULL,'1',NULL,NULL,0,'0876636364'),
(30,'officer','$2b$10$LjoQz/d1dnZmK60AsJvDTO35ygxx2ORLBsF52Tjpm2vRF.FH4S9uO','officer@gmail.com','α╕£α╕╣α╣ëα╕òα╕úα╕ºα╕êα╕¬α╕¡α╕Ü',NULL,'1',NULL,NULL,2,NULL);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-01-15 17:19:00
