/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.1.2-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: innomcp-db
-- ------------------------------------------------------
-- Server version	12.1.2-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `apikey`
--

DROP TABLE IF EXISTS `apikey`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `apikey` (
  `apikey_id` int(11) NOT NULL AUTO_INCREMENT,
  `apikey` varchar(255) NOT NULL,
  `status` enum('active','inactive','revoke') NOT NULL DEFAULT 'active',
  `apikey_name` varchar(45) DEFAULT NULL,
  `create` timestamp NULL DEFAULT current_timestamp(),
  `expire` timestamp NULL DEFAULT NULL,
  `update` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `rate_limit` int(11) DEFAULT NULL,
  `allowed_origins` varchar(100) DEFAULT NULL,
  `user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`apikey_id`),
  UNIQUE KEY `idapikey_id_UNIQUE` (`apikey_id`),
  UNIQUE KEY `apikey_UNIQUE` (`apikey`),
  KEY `idx_user_id` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `apikey`
--

LOCK TABLES `apikey` WRITE;
/*!40000 ALTER TABLE `apikey` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `apikey` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `chat_conversations`
--

DROP TABLE IF EXISTS `chat_conversations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_conversations` (
  `conversation_id` varchar(255) NOT NULL,
  `user_id` int(11) NOT NULL,
  `workspace_id` int(11) NOT NULL,
  `title` varchar(255) DEFAULT 'New Chat',
  `summary` text DEFAULT NULL,
  `message_count` int(11) DEFAULT 0,
  `last_message_at` timestamp NULL DEFAULT NULL,
  `is_pinned` tinyint(1) DEFAULT 0,
  `is_archived` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`conversation_id`),
  KEY `idx_conversation_user` (`user_id`,`is_archived`,`last_message_at`),
  KEY `idx_conversation_workspace` (`workspace_id`),
  CONSTRAINT `fk_conversation_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_conversation_workspace` FOREIGN KEY (`workspace_id`) REFERENCES `user_workspaces` (`workspace_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_conversations`
--

LOCK TABLES `chat_conversations` WRITE;
/*!40000 ALTER TABLE `chat_conversations` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `chat_conversations` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `chat_messages`
--

DROP TABLE IF EXISTS `chat_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `chat_messages` (
  `message_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `conversation_id` varchar(255) NOT NULL,
  `sender` enum('user','ai') NOT NULL,
  `message_text` text NOT NULL,
  `structured_content` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Charts, images, etc.' CHECK (json_valid(`structured_content`)),
  `tools_used` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Array of MCP tools used' CHECK (json_valid(`tools_used`)),
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`message_id`),
  KEY `idx_message_conversation` (`conversation_id`,`created_at`),
  CONSTRAINT `fk_message_conversation` FOREIGN KEY (`conversation_id`) REFERENCES `chat_conversations` (`conversation_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chat_messages`
--

LOCK TABLES `chat_messages` WRITE;
/*!40000 ALTER TABLE `chat_messages` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `chat_messages` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `oauth_providers`
--

DROP TABLE IF EXISTS `oauth_providers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `oauth_providers` (
  `provider_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `provider_name` enum('thaid','google','facebook','line') NOT NULL,
  `provider_user_id` varchar(255) NOT NULL,
  `access_token` text DEFAULT NULL,
  `refresh_token` text DEFAULT NULL,
  `token_expires_at` timestamp NULL DEFAULT NULL,
  `profile_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Provider profile info' CHECK (json_valid(`profile_data`)),
  `is_verified` tinyint(1) DEFAULT 0,
  `is_primary` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`provider_id`),
  UNIQUE KEY `unique_provider_user` (`provider_name`,`provider_user_id`),
  KEY `idx_oauth_user` (`user_id`),
  CONSTRAINT `fk_oauth_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `oauth_providers`
--

LOCK TABLES `oauth_providers` WRITE;
/*!40000 ALTER TABLE `oauth_providers` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `oauth_providers` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `token_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `token` varchar(255) NOT NULL,
  `expires_at` timestamp NOT NULL,
  `is_used` tinyint(1) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`token_id`),
  UNIQUE KEY `unique_token` (`token`),
  KEY `idx_reset_token_user` (`user_id`),
  KEY `idx_reset_token_expiry` (`expires_at`,`is_used`),
  CONSTRAINT `fk_reset_token_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `section`
--

DROP TABLE IF EXISTS `section`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `section` (
  `section_id` int(11) NOT NULL AUTO_INCREMENT,
  `section_name` varchar(100) NOT NULL,
  PRIMARY KEY (`section_id`),
  UNIQUE KEY `section_name_UNIQUE` (`section_name`),
  UNIQUE KEY `section_id_UNIQUE` (`section_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `section`
--

LOCK TABLES `section` WRITE;
/*!40000 ALTER TABLE `section` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `section` VALUES
(3,'α╕üα╕úα╕íα╕¡α╕╕α╕òα╕╕α╕Öα╕┤α╕óα╕íα╕ºα╕┤α╕ùα╕óα╕▓'),
(4,'α╕¬α╕│α╕Öα╕▒α╕üα╕çα╕▓α╕Öα╕äα╕ôα╕░α╕üα╕úα╕úα╕íα╕üα╕▓α╕úα╕öα╕┤α╕êα╕┤α╕ùα╕▒α╕Ñα╣Çα╕₧α╕╖α╣êα╕¡α╣Çα╕¿α╕úα╕⌐α╕Éα╕üα╕┤α╕êα╣üα╕Ñα╕░α╕¬α╕▒α╕çα╕äα╕íα╣üα╕½α╣êα╕çα╕èα╕▓α╕òα╕┤'),
(1,'α╕¬α╕│α╕Öα╕▒α╕üα╕çα╕▓α╕Öα╕¢α╕Ñα╕▒α╕öα╕üα╕úα╕░α╕ùα╕úα╕ºα╕çα╕öα╕┤α╕êα╕┤α╕ùα╕▒α╕Ñα╣Çα╕₧α╕╖α╣êα╕¡α╣Çα╕¿α╕úα╕⌐α╕Éα╕üα╕┤α╕êα╣üα╕Ñα╕░α╕¬α╕▒α╕çα╕äα╕í'),
(2,'α╕¬α╕│α╕Öα╕▒α╕üα╕çα╕▓α╕Öα╕¬α╕ûα╕┤α╕òα╕┤α╣üα╕½α╣êα╕çα╕èα╕▓α╕òα╕┤');
/*!40000 ALTER TABLE `section` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `section_user`
--

DROP TABLE IF EXISTS `section_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `section_user` (
  `section_user_id` int(11) NOT NULL AUTO_INCREMENT,
  `section_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `section_user_date` date NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`section_user_id`,`section_id`,`user_id`),
  KEY `fk_user_section_section1_idx` (`section_id`),
  KEY `fk_user_section_user1_idx` (`user_id`),
  CONSTRAINT `fk_user_section_section1` FOREIGN KEY (`section_id`) REFERENCES `section` (`section_id`),
  CONSTRAINT `fk_user_section_user1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `section_user`
--

LOCK TABLES `section_user` WRITE;
/*!40000 ALTER TABLE `section_user` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `section_user` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user`
--

DROP TABLE IF EXISTS `user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(45) NOT NULL,
  `password` text DEFAULT NULL,
  `user_email` varchar(200) DEFAULT NULL,
  `user_dispname` varchar(100) NOT NULL COMMENT 'α╕èα╕╖α╣êα╕¡α╕éα╕¡α╕çα╕£α╕╣α╣ëα╣âα╕èα╣ë',
  `user_birthdate` date DEFAULT NULL COMMENT 'α╕ºα╕▒α╕Öα╣Çα╕üα╕┤α╕öα╕éα╕¡α╕çα╕£α╕╣α╣ëα╣âα╕èα╣ë',
  `user_active` char(1) NOT NULL,
  `reset_token` varchar(255) DEFAULT NULL,
  `reset_token_expire` datetime DEFAULT NULL,
  `userrole_id` int(11) NOT NULL,
  `user_phone` varchar(30) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `user_id_UNIQUE` (`user_id`),
  UNIQUE KEY `username_UNIQUE` (`username`),
  UNIQUE KEY `user_email_UNIQUE` (`user_email`),
  KEY `fk_user_userrole1_idx` (`userrole_id`),
  KEY `idx_user_email` (`user_email`),
  CONSTRAINT `fk_user_userrole1` FOREIGN KEY (`userrole_id`) REFERENCES `userrole` (`userrole_id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user`
--

LOCK TABLES `user` WRITE;
/*!40000 ALTER TABLE `user` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `user` VALUES
(26,'jlapps','$2b$10$LjoQz/d1dnZmK60AsJvDTO35ygxx2ORLBsF52Tjpm2vRF.FH4S9uO','lb2rock@gmail.com','Administrator',NULL,'1',NULL,NULL,0,NULL),
(28,'jaran.l','$2b$10$LjoQz/d1dnZmK60AsJvDTO35ygxx2ORLBsF52Tjpm2vRF.FH4S9uO','jaran.x@gmail.com','Jaran Laothong',NULL,'1',NULL,NULL,0,'0876636364'),
(30,'officer','$2b$10$LjoQz/d1dnZmK60AsJvDTO35ygxx2ORLBsF52Tjpm2vRF.FH4S9uO','officer@gmail.com','α╕£α╕╣α╣ëα╕òα╕úα╕ºα╕êα╕¬α╕¡α╕Ü',NULL,'1',NULL,NULL,2,NULL);
/*!40000 ALTER TABLE `user` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_activity_log`
--

DROP TABLE IF EXISTS `user_activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_activity_log` (
  `log_id` bigint(20) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) DEFAULT NULL,
  `workspace_id` int(11) DEFAULT NULL,
  `action_type` varchar(50) NOT NULL COMMENT 'login, logout, file_upload, setting_change, etc.',
  `action_detail` text DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `status` enum('success','failure','warning') DEFAULT 'success',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`log_id`),
  KEY `idx_log_user` (`user_id`,`created_at`),
  KEY `idx_log_workspace` (`workspace_id`),
  KEY `idx_log_action` (`action_type`,`created_at`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_activity_log`
--

LOCK TABLES `user_activity_log` WRITE;
/*!40000 ALTER TABLE `user_activity_log` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `user_activity_log` VALUES
(1,26,NULL,'login_failed','Invalid password','::1','Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36','failure','2026-01-15 17:14:31');
/*!40000 ALTER TABLE `user_activity_log` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_characteristics`
--

DROP TABLE IF EXISTS `user_characteristics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_characteristics` (
  `characteristic_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `characteristic_name` varchar(50) NOT NULL COMMENT 'e.g., tone, formality, humor',
  `characteristic_value` varchar(100) NOT NULL COMMENT 'e.g., friendly, formal, witty',
  `description` text DEFAULT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`characteristic_id`),
  KEY `idx_user_characteristics` (`user_id`,`is_active`),
  CONSTRAINT `fk_characteristic_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_characteristics`
--

LOCK TABLES `user_characteristics` WRITE;
/*!40000 ALTER TABLE `user_characteristics` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `user_characteristics` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_files`
--

DROP TABLE IF EXISTS `user_files`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_files` (
  `file_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `workspace_id` int(11) NOT NULL,
  `filename` varchar(255) NOT NULL,
  `original_filename` varchar(255) NOT NULL,
  `file_path` varchar(500) NOT NULL,
  `file_size_bytes` bigint(20) NOT NULL,
  `mime_type` varchar(100) DEFAULT NULL,
  `file_type` enum('document','image','video','audio','other') DEFAULT 'other',
  `is_public` tinyint(1) DEFAULT 0,
  `download_count` int(11) DEFAULT 0,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`file_id`),
  KEY `idx_file_user` (`user_id`),
  KEY `idx_file_workspace` (`workspace_id`),
  KEY `idx_file_type` (`file_type`),
  CONSTRAINT `fk_file_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_file_workspace` FOREIGN KEY (`workspace_id`) REFERENCES `user_workspaces` (`workspace_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_files`
--

LOCK TABLES `user_files` WRITE;
/*!40000 ALTER TABLE `user_files` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `user_files` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_memory`
--

DROP TABLE IF EXISTS `user_memory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_memory` (
  `memory_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `workspace_id` int(11) DEFAULT NULL COMMENT 'NULL = global memory',
  `memory_type` enum('fact','preference','context','relationship') DEFAULT 'fact',
  `memory_key` varchar(100) NOT NULL COMMENT 'e.g., favorite_color, preferred_format',
  `memory_value` text NOT NULL,
  `confidence` decimal(3,2) DEFAULT 1.00 COMMENT '0.00-1.00 confidence score',
  `source` enum('user_stated','ai_inferred','admin_set') DEFAULT 'user_stated',
  `last_accessed` timestamp NULL DEFAULT NULL,
  `access_count` int(11) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`memory_id`),
  KEY `idx_user_memory` (`user_id`,`is_active`),
  KEY `idx_memory_workspace` (`workspace_id`),
  KEY `idx_memory_key` (`memory_key`),
  CONSTRAINT `fk_memory_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_memory_workspace` FOREIGN KEY (`workspace_id`) REFERENCES `user_workspaces` (`workspace_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_memory`
--

LOCK TABLES `user_memory` WRITE;
/*!40000 ALTER TABLE `user_memory` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `user_memory` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_preferences`
--

DROP TABLE IF EXISTS `user_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_preferences` (
  `preference_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `workspace_id` int(11) DEFAULT NULL COMMENT 'NULL = global preference',
  `preference_key` varchar(100) NOT NULL,
  `preference_value` text NOT NULL,
  `value_type` enum('string','number','boolean','json') DEFAULT 'string',
  `category` varchar(50) DEFAULT 'general' COMMENT 'ui, ai, notification, etc.',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`preference_id`),
  UNIQUE KEY `unique_user_workspace_key` (`user_id`,`workspace_id`,`preference_key`),
  KEY `idx_preference_category` (`category`),
  KEY `fk_preference_workspace` (`workspace_id`),
  CONSTRAINT `fk_preference_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_preference_workspace` FOREIGN KEY (`workspace_id`) REFERENCES `user_workspaces` (`workspace_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_preferences`
--

LOCK TABLES `user_preferences` WRITE;
/*!40000 ALTER TABLE `user_preferences` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `user_preferences` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_profiles`
--

DROP TABLE IF EXISTS `user_profiles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_profiles` (
  `profile_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `nickname` varchar(50) DEFAULT NULL,
  `occupation` varchar(100) DEFAULT NULL,
  `about_me` text DEFAULT NULL,
  `interests` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Array of user interests' CHECK (json_valid(`interests`)),
  `expertise` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Array of areas of expertise' CHECK (json_valid(`expertise`)),
  `preferred_language` varchar(10) DEFAULT 'th',
  `communication_style` enum('formal','casual','professional','friendly') DEFAULT 'professional',
  `response_length` enum('concise','balanced','detailed') DEFAULT 'balanced',
  `avatar_url` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`profile_id`),
  UNIQUE KEY `unique_user_profile` (`user_id`),
  CONSTRAINT `fk_profile_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_profiles`
--

LOCK TABLES `user_profiles` WRITE;
/*!40000 ALTER TABLE `user_profiles` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `user_profiles` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_sessions`
--

DROP TABLE IF EXISTS `user_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_sessions` (
  `session_id` varchar(255) NOT NULL,
  `user_id` int(11) NOT NULL,
  `workspace_id` int(11) DEFAULT NULL,
  `device_info` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Browser, OS, IP, etc.' CHECK (json_valid(`device_info`)),
  `session_data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT 'Custom session data' CHECK (json_valid(`session_data`)),
  `last_activity` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `expires_at` timestamp NOT NULL,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`session_id`),
  KEY `idx_session_user` (`user_id`,`is_active`),
  KEY `idx_session_workspace` (`workspace_id`),
  KEY `idx_session_expiry` (`expires_at`),
  CONSTRAINT `fk_session_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE,
  CONSTRAINT `fk_session_workspace` FOREIGN KEY (`workspace_id`) REFERENCES `user_workspaces` (`workspace_id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_sessions`
--

LOCK TABLES `user_sessions` WRITE;
/*!40000 ALTER TABLE `user_sessions` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `user_sessions` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `user_workspaces`
--

DROP TABLE IF EXISTS `user_workspaces`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_workspaces` (
  `workspace_id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `workspace_name` varchar(100) NOT NULL DEFAULT 'My Workspace',
  `workspace_slug` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `is_default` tinyint(1) DEFAULT 0,
  `is_active` tinyint(1) DEFAULT 1,
  `storage_path` varchar(255) NOT NULL,
  `storage_quota_mb` int(11) DEFAULT 1000,
  `storage_used_mb` decimal(10,2) DEFAULT 0.00,
  `theme` enum('light','dark','auto') DEFAULT 'auto',
  `color_scheme` varchar(50) DEFAULT 'default',
  `language` varchar(10) DEFAULT 'th',
  `timezone` varchar(50) DEFAULT 'Asia/Bangkok',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`workspace_id`),
  UNIQUE KEY `unique_slug_per_user` (`user_id`,`workspace_slug`),
  KEY `idx_user_workspace` (`user_id`,`is_active`),
  KEY `idx_workspace_slug` (`workspace_slug`),
  CONSTRAINT `fk_workspace_user` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_workspaces`
--

LOCK TABLES `user_workspaces` WRITE;
/*!40000 ALTER TABLE `user_workspaces` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `user_workspaces` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `userlog`
--

DROP TABLE IF EXISTS `userlog`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `userlog` (
  `userlog_id` int(11) NOT NULL AUTO_INCREMENT,
  `ipaddress` varchar(45) DEFAULT NULL,
  `activity` text DEFAULT NULL,
  `date` datetime DEFAULT current_timestamp(),
  `user_id` int(11) NOT NULL,
  PRIMARY KEY (`userlog_id`,`user_id`),
  KEY `fk_userlog_user1_idx` (`user_id`),
  CONSTRAINT `fk_userlog_user1` FOREIGN KEY (`user_id`) REFERENCES `user` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=187 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userlog`
--

LOCK TABLES `userlog` WRITE;
/*!40000 ALTER TABLE `userlog` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `userlog` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `userrole`
--

DROP TABLE IF EXISTS `userrole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `userrole` (
  `userrole_id` int(11) NOT NULL AUTO_INCREMENT,
  `userrole_name` varchar(20) NOT NULL,
  PRIMARY KEY (`userrole_id`),
  UNIQUE KEY `userrole_id_UNIQUE` (`userrole_id`),
  UNIQUE KEY `userrole_name_UNIQUE` (`userrole_name`)
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_uca1400_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `userrole`
--

LOCK TABLES `userrole` WRITE;
/*!40000 ALTER TABLE `userrole` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `userrole` VALUES
(0,'administrator'),
(2,'α╣Çα╕êα╣ëα╕▓α╕½α╕Öα╣ëα╕▓α╕ùα╕╡α╣ê'),
(1,'α╕¢α╕úα╕░α╕èα╕▓α╕èα╕Ö'),
(3,'α╕£α╕╣α╣ëα╕Öα╕│α╣Çα╕éα╣ëα╕▓α╕éα╣ëα╕¡α╕íα╕╣α╕Ñ'),
(4,'α╕£α╕╣α╣ëα╕Üα╕úα╕┤α╕½α╕▓α╕ú');
/*!40000 ALTER TABLE `userrole` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Table structure for table `workspace_instructions`
--

DROP TABLE IF EXISTS `workspace_instructions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `workspace_instructions` (
  `instruction_id` int(11) NOT NULL AUTO_INCREMENT,
  `workspace_id` int(11) NOT NULL,
  `instruction_type` enum('system','personality','behavior','constraint') DEFAULT 'system',
  `instruction_text` text NOT NULL,
  `priority` int(3) DEFAULT 100,
  `is_active` tinyint(1) DEFAULT 1,
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`instruction_id`),
  KEY `idx_workspace_instructions` (`workspace_id`,`is_active`,`priority`),
  CONSTRAINT `fk_instruction_workspace` FOREIGN KEY (`workspace_id`) REFERENCES `user_workspaces` (`workspace_id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `workspace_instructions`
--

LOCK TABLES `workspace_instructions` WRITE;
/*!40000 ALTER TABLE `workspace_instructions` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `workspace_instructions` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-01-15 17:17:18
